
.full-width {
  width: 1400px;
  height: 600px;
  margin: 0 auto;
}

header {
  height: 600px;
  background-image: url('/image/keyboard-lights.png');
}

.keyboard {
  position: absolute;
  z-index: -1;
}

.title {
  padding-top: 260px;
}




h1 {
  text-align: center;
  font-family: Castellar;
  font-size: 60px;
  color: #ffffff;
  }

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-family: candara;
    padding-right: 60px;
}

nav ul li {
  display: inline-block;
  padding-top: 180px;
}


nav {
float: right;
}

h3 {
  font-family: arial;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
}

p {
  font-family: arial;
  font-size: 48px;
  text-align: center;
}

#work .full-width {
  height: 700px;
  width: 1400px;
  background-color: #0abec4;
}

#about .full-width {
  width: 1400px;
  height: 700px;
  background-color: #ececec;
}



#contact .full-width {
  width: 1400px;
  height: 600px;
}
